/*

CSS rules you may need for reference:

- font-family
    - Arial, sans-serif
- line-height
- color
- margin
- padding
- background-color
- border-radius
- border-left
- border-bottom
- margin-top
- padding-left
- padding-bottom
- width
- height
- margin-bottom
- font-size

*/

/* Write your CSS code here */
body {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: black;

        .margin {
                margin-top: 1px;
                margin-bottom: 1px;
        }

        .padding {
                padding-bottom: 5px;
                padding-left: 5px;
        }
        line-height: 1.6;
        max-width: 800px;
        padding: 20px;
        margin: 0 auto;
        background-color: azure;
}
h1{
        font-size: 24px;
        color:white;
        border:12px solid dodgerblue;
        background-color:dodgerblue;
        padding-left: 5px;
        padding-bottom: 5px;
}
h2 {
        border-radius:5px;
        border-left: 5px solid dodgerblue;
        border-bottom: 12px solid dodgerblue;
        padding-left: 5px;
        padding-bottom: 5px;
}
table {
  td {
          background-color: white;
  }
        background-color: dodgerblue;
<tr>
        background-color:dodgerblue;
}